<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_div">Divide this:</label>
  <input type="text" id="first_div" name="first_num">

  <label for="second_div">by this:</label>
  <input type="text" id="second_div" name="second_num">

  <button>Divide!</button>
</form>
